@import "../../css/theme.scss";

//////////input//////////
.input {
    display: block;
    padding: 15px;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    background: $accentColor;
    border: none;
    border-radius: $borderRadius;
}
.sectionTitle {
    margin-bottom: 15px;
}
.formTitle {
    margin-bottom: 15px;
}
//////////text area//////////
.comment {
    height: 100px;
}

//////////form boundaries//////////
.contactForm {
    background: $tertiaryColor;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: $borderRadius;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.07),
                0 15px 35px 0 rgba(50,50,93,0.1);
}

//////////submit button//////////
.submit {
    height: 35px;
    width: 100px;
    border-style: none;
    background: #9de947;
    border-radius: 4px;
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
    text-transform: uppercase;
    color: #fff;
}
@media (min-width: 768px) {
    .submit {
        height: 35px;
        width: 100px;
        border-style: none;
        background: #9de947;
        border-radius: 4px;
        text-align: center;
        margin-left: 180px;
        margin-right: 180px;
    }
}

//////////form inside//////////
.form {
    padding: 15px;
    display: flex;
}

//////////contents//////////
.specifications {
    display: flex;
}
.contact {
    width: 50%;
    border-style: solid;
    border-color: $primaryColor;
    border-width: 2px;
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding: 15px;
}
.productInfo {
    width: 50%;
    padding: 15px;
}
.sectionTitle {
    font-size: 30px;
    color: $primaryColor;
    margin: 15px;
}
.size {
    margin-right: 5px;
}
.length {
    margin-right: 5px;
}

//////////line//////////
.line {
    width: 400px;
    border-style: solid;
    border-width: 2px;
    border-color: #9de947;
}
