@import "../../css/theme.scss";





//////////menuList//////////

.navigation__menuList {
    align-items: center;
}
.navigation__menuList > li {
    padding: 0;
}
.navigation__menuList .nav__link, .contactButton {
    color: $tertiaryColor;
    font-family: $fontFamily;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 0.875em;
    display: block;
    padding: $paddingStandard;
}

//////////menuTrigger//////////

@media (min-width: 768px) {

    .navigation__menuList {
        display: flex;
        background-color: transparent;
    }
}

.nav__link:hover {
    transform: scale(1.1);
}
