@import "../../css/theme.scss";

//////////input//////////
.input {
    display: block;
    padding: $paddingStandard;
    width: 100%;
    height: 40px;
    margin-top: $marginStandard;
    margin-bottom: $marginStandard;
    background: $accentColor;
    border: none;
    border-radius: $borderRadius;
}

//////////text area//////////
.comment {
    height: 100px;
}

//////////form boundaries//////////
.contactForm {
    background: $tertiaryColor;
    height: 350px;
    border-radius: $borderRadius;
}

//////////form inside//////////
.form {
    padding: $paddingStandard;
}
@media (min-width: 768px) {
    .contactForm {
        background: $tertiaryColor;
        height: 350px;
        width: 350px;
        border-radius: $borderRadius;
    }
}

//////////submit button//////////
.submit {
    height: 300px;
    width: 150px;
}

//////////form title//////////
.formTitle {
    text-align: center;
}
