@import "../../css/theme.scss";

//////////header//////////
.header {
    background: $primaryColor;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header.header--transparent {
    background: transparent;
    margin-bottom: -4.375em;
    position: relative;
    z-index: 1;

}

//////////container//////////
.section--onTransparentHeader .container {
    padding-top: 70px;
}
// .header .button--cta {
//     color: var(--primaryColor);
// }
.header__container {
    display: flex;
    height: 70px;
}
.header__container {
    justify-content: space-between;
    align-items: center;
}

//////////navigation//////////
.navigation {
    position: relative;
    right: 0;
}
