.header {
    color: rgba(255,255,255,.7);
    background: var(--primaryColor);
    position: fixed;
}

.transparent {
    background: transparent;
    margin-bottom: -4.375em;
    z-index: 1;
    background: #1f4a7c;
}
@media (min-width: 768px){
    .transparent {
        background: transparent;
        margin-bottom: -4.375em;
        z-index: 1;
        background: #1f4a7c;
        top:0;
        bottom:0;
        width: 200px;

    }
}
.header.is-sticky {
    background-color: var(--tertiaryColor);
    transition: ease-in .2s background;
}
.section--onTransparentHeader .container {
    padding-top: 70px;
}

.header__logo img {
    max-width: 130px;
}
.logo {
    text-align: center;
    margin-top: 30px;
}
.header__navigation {
    margin-left: 15px;
    margin-right: 15px;
}
.header .button--cta {
    color: var(--primaryColor);
}
